* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.section-pading {
    padding: 40px 30px;
}



/*-----------Header-------Section-------Start---------*/
/*-----------Navbar------------Start----------*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff4f4;
    box-shadow: 5px 0px 5px 0px;
    padding: 20px;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>ul li {
    list-style: none;
    margin-right: 30px;
}

nav>ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #343232;
}

nav>ul li .long-link {

    background-color: #d8e9f9;
    padding: 8px 15px;
    border-radius: 5px;
}

.logo img {
    width: 50px;
    margin: 0 10px;
}

.logo h3 {
    font-size: 30px;
}

.logo-name {
    color: #fa0789;
}

/*-----------Navbar------------End----------*/




/*-----------Banner------------Start----------*/
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.banner img {
    width: 50%;
}

.banner-contact {
    background-color: #fff4f4;
    padding: 50px;
    margin-top: 50px;
}

.banner-contact h3 {
    color: #343232;
    font-size: 25px;
}

.banner-contact h1 {
    font-size: 50px;
    font-weight: 700;
    background: -webkit-linear-gradient(#fa0789, #4b0082);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3px 0;
}

.banner-contact p {
    font-size: 18px;
    font-weight: 500;
    color: #434242;
    padding: 5px 0;
}

.banner-contact p i {
    margin: 0 10px;
}


.banner-contact p .hotpink {
    color: #fa0789;
}


.btn-1,
.btn-2 {
    border: 0;
    margin: 30px 5px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
}

.btn-1 {
    background-color: #fa0789;
    color: #fff;
}

.btn-2 {
    background-color: #1e90ff;
    color: #fff;
}

/*-----------Banner------------End----------*/
/*-----------Header-------Section-------End---------*/





/*---------Gamer---------Section--------Start--------*/
.gamer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mamer-content {
    text-align: end;
    margin-top: 40px;
}

.gamer-container img {
    width: 60%;
}

.mamer-content h3 {
    font-size: 30px;
    font-weight: 700;
    background: -webkit-linear-gradient(#fa0789, #4b0082);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 3px 0;
    margin-bottom: 25px;
}

.mamer-content p {
    font-size: 18px;
    font-weight: 500;
    color: #434242;
    line-height: -15px
}

.mamer-content h4 {
    font-size: 16px;
    font-weight: 500;
    color: #434242;
    line-height: -15px
}


.mamer-content h2 {
    font-size: 25px;
    font-weight: 700;
    color: #434242;
    line-height: -15px
}

.gaming-video .gaming-box {
    position: relative;
}

.gaming-video .gaming-box .speacial-box {
    position: absolute;
    background-color: rgb(63, 67, 71, 0.8);
    width: 100%;
    height: 90%;
    border-radius: 10px;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
}

.gaming-video .gaming-box .speacial-box i {
    color: #d8e9f9;
    font-size: 40px;
    cursor: pointer;
}

.gaming-video .gaming-box .speacial-box:hover {
    opacity: 1;
}
/*---------Gamer---------Section--------End--------*/





/*--------Video-Game-------Section-------Start--------*/
.gaming-video {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.game-text-content {
    margin: 50px 0;
    text-align: center;
}

.online-game {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 15px;
    color: #343232;
}

.online-span {
    font-weight: 700;
    background: -webkit-linear-gradient(#fa0789, #4b0082);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.gaming-discription {
    font-size: 16px;
    color: #504848;
}

.gaming-video .gaming-box {
    width: 250px;
}

.gaming-video .gaming-box img {
    width: 100%;
}

.gaming-box p {
    font-size: 14px;
    margin-top: 10px;
    color: #4d494b;
}
/*--------Video-Game-------Section-------End--------*/





/*--------Downlods-Game-------Section-------Start--------*/
.downlods-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 40px;
    padding-bottom: 0;
}


.downlods-container img {
    width: 80%;
}

.child-img {
    position: relative;
    width: 200px;
    bottom: 140px;
    right: 30px;
}

.downlod-text h2 {
    font-size: 25px;
    font-weight: 700;
    background: -webkit-linear-gradient(#fa0789, #4b0082);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.downlod-text {
    margin-left: 3rem;
}

.downlod-text h3 {
    font-size: 20px;
    color: #434242;
    padding: 10px 0;
}

.downlod-text p {
    font-size: 16px;
    color: #4d494b;
    text-align: right;
}
/*--------Downlods-Game-------Section-------End--------*/



/*--------Careers-------Section-------Start--------*/
.main-carrers {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
    background-color: #fa0789;
}

.main-carrers img {
    width: 50%;
}

.carrer-text {
    margin-bottom: 40px;
}

.carrer-text .careers-title {
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
}

.carrer-text .carrer-discription {
    font-size: 16px;
    color: #fff;
}

.mobail-brance {
    display: flex;
    align-items: center;
}

.mobile-box-2 {
    text-align: right;
}

.mobail-brance h3 {
    margin: 15px 0;
    font-size: 18px;
    color: #fff;
}
/*--------Careers-------Section-------End--------*/






















/*-------------Responsive------------Start------------*/
@media screen and (max-width: 768px) {

    /*-------Banner------*/
    .banner {
        flex-direction: column-reverse;
    }


    /*--------Gamer-------*/
    .gamer-container {
        flex-direction: column;
    }

    .mamer-content {
        text-align: center;
    }

    .mamer-content img {
        width: 100%;
    }

    /*------Downlode-------*/
    .downlods-container {
        flex-direction: column;
        text-align: center;
    }

    .main-img img {
        width: 95%;
    }

    .child-img {
        width: 150px;
    }

    .gaming-video {
        flex-direction: column;
    }

    .main-carrers {
        flex-direction: column;
    }

    .mobail-brance {
        justify-content: space-between;
    }

    .main-carrers img {
        margin-top: 40px;
        width: 90%;
    }

}


@media screen and (max-width: 576px) {

    nav,
    nav>ul {
        flex-direction: column;
    }

    nav>ul li {
        margin-top: 25px;
    }

    nav>ul li a .long-link {
        top: 40px;
    }

    .banner img {
        margin-top: 20px;
    }
}
/*------------Reaponsive-----------End-------------*/